<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=utf-8" http-equiv=Content-Type>
    <title>امجد - انگریزی کا اردو خلاصہ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='img/amjad-logo.png')}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            امجد- تخلیص
        </a>
    </nav>
    <div class="container">
        <form action="/summ" method="POST">
            <textarea name="textsum" id="textsum" cols="60" rows="10"></textarea>
            <textarea name="textsumres" id="textsumres" cols="60" rows="10" readonly></textarea>
        </form >
        <button id="summbtn" type="submit" class="btn btn-primary btn-lg btn-block">تخلیص</button>
        <button id="copybtn" type="button" class="copy-btn" href="">نقل</button>

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>
</body>

</html>